<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <%= favicon_link_tag asset_path('linkberrylogo.png') %>
    <title>LinkBerry</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
    <%= stylesheet_pack_tag "application", "data-turbo-track": "reload" %>
  </head>

  <%= render 'shared/navbar' %>
    <% unless current_page?(root_path) %>
      <div class="">
    <% else %>
      <div>
    <% end %>
  </div>  
  <body style="padding-bottom: 0px;">
    <%= yield %>                  
  </body>
  <%= render 'shared/footer' %>  
</html>
